
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 30px;
    padding-left: 30px;
    background-color: rgb(231, 231, 231);
    font-weight: 500;
    font-size: 18px;
    color: rgb(64, 63, 63);
}

p {
    text-align: justify;
}

h3, h4 {
    text-align: center;
}
